


body {

  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #081b29;
  color: #333;
  
}


.navbar {
  background-color: #081b29;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar .brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 15px;

  margin: 0;
  padding: 0;
}

.navbar .menu li a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.navbar .menu li a.active,
.navbar .menu li a:hover {
  background-color: #45a049;
}


.settings-container {
  /*max-width: 1200px;*/
  margin: 20px auto;
 
  padding: 20px;
  background-color: #081b29;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.settings-container h1 {
  text-align: center;
 margin-bottom: 30px;
  color: #00ff08;
  font-size: 50px;
}


.settings-section {
 display:flex;
  padding-left: 25%;
  padding-right: 25%;
  flex-direction: column;
  gap: 20px;
}


.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  cursor: pointer;
  margin-bottom: 20px;
  color: #4CAF50;
}

.settings-content {
  display: none; 
  margin-top: 20px;
}


.card form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
}

.card form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #45a049;
}


input[type="radio"] {
  margin-right: 10px;
}


#invite-link {
  width: calc(100% - 30px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
}


nav{
  background: #081b29;
  height: 80 px;
  width: 100%;
  }
  
  section{
    align-items: right;
    padding-right: 10%;
  }
  
  label.navigazione{
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  }
  
  nav ul{
    

    float: right;
    margin-right: 20px;
  
  }
  
  nav ul li {
  
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    
    #check{
      display: none;
    }
    

   
  nav  ul li a {

    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;

  }  
 
 /* nav ul li a.m a.active{
  
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    
  }*/
  a.m:hover,a.active{
    background: yellowgreen;
    transition: .5s;
  }


  @media(max-width: 952px){
    label.navigazione{
      font-size: 30px;
      padding-left: 50px;
     
    }
    nav ul li a.m a.active {
      font-size: 16px;
      
    }
  }
  
  @media(max-width: 858px){
  
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100hv;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      
    }
    nav ul li a.m a.active{
      font-size: 20px;
      
    }
    a.m:hover,a.active{
      background: none;
      color: yellowgreen;
    }
      #check:checked ~ ul{
        left: 0;
      }

      nav ul {
        position: fixed; /* Garantito comportamento di sovrapposizione */
        width: 100%;
        height: 100vh; /* Assicurato altezza corretta */
        background: #2c3e50;
        top: 80px;
        left: -150%;
        text-align: center;
        transition: all .5s;
        z-index: 9999; /* Massimizzato per sovrapporre gli altri elementi */}
  
  
  }

  
  




  label.navigazione{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    }

